*.a
*.gz
*.in
*.log
*.o
*.trs
*~
.*.sw[op]
.deps/
.DS_Store
Makefile

/*.[ch]
/*-t
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.*
/configure
/conftest*
/coverage*
/depcomp
/docs/
/install-sh
/missing
/test-driver
/ylwrap
