*.a
*.in
*.o
*~
.*.sw[op]
.deps/
.DS_Store
Makefile
/aclocal.m4
/ar-lib
/autom4te.cache/
/cdecl-*.tar.gz
/compile
/confdefs.h
/config.guess
/config.log
/config.status
/config.sub
/configure
/conftest*
/depcomp
/docs/
/install-sh
/missing
/ylwrap
