.dirstamp
/alloca.h
/assert.h
/ctype.h
/errno.h
/fnmatch.h
/getopt-cdefs.h
/getopt.h
/inttypes.h
/limits.h
/locale.h
/stdarg.h
/stdckdint.h
/stddef.h
/stdint.h
/stdio.h
/stdlib.h
/stdnoreturn.h
/string.h
/sys
/sysexits.h
/uchar.h
/unicase.h
/unictype.h
/uninorm.h
/unistd.h
/unistr.h
/unitypes.h
/wchar.h
/wctype.h
